.header {
  background-color: $color-white;

  .accueil {
    background-color: rgb(255, 255, 255);

    .titre {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .title {
      font-family: "shrikhandregular";
    }
    .no-deco-button {
      color: black;
      background-color: white;
      border: 1px solid white;
      font-size: 2rem;
      cursor: pointer;
    }
    .screen-container {
      overflow: hidden;
    }
    .images-resto {
      height: 15rem;
      width: 100%;
      transition: transform 0.3s ease;
      object-fit: cover;
    }

    .images-resto:hover {
      transform: scale(1.2);
    }
  }
}

&:nth-child(4) {
  animation: appears 0.5s forwards 1.25s;
  animation-timing-function: ease-in-out;
}
