main {
  .liste-resto a {
    background-color: rgb(243, 240, 240);
    padding: $marge-base;
    display: block;
  }
  h2.bold-effect {
    font-weight: bold;
    font-size: $dooble-font-size;
    padding-top: 3rem;
    padding-left: $marge-base;
    padding-bottom: 0.5rem;
    background-color: rgb(243, 240, 240);
    font-family: "robotoregular";
  }
  h3.bold-effect {
    font-weight: bold;
    font-size: $dooble-font-size;
    padding-top: $marge-base;
    padding-left: $marge-base;
    font-family: "shrikhandregular";
  }

  .la-palette {
    text-decoration: none;
    height: 100%;
  }
  .background-text {
    background-color: white;
    border-bottom-right-radius: $basic-border-radius;
    border-bottom-left-radius: $basic-border-radius;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $marge-base;
    text-decoration: none;
    color: black;
  }
  .espacement-bas {
    margin-bottom: 3rem;
  }
  .bold-effect2 {
    font-weight: bold;
    font-family: "robotoregular";
  }
  .roboto-police {
    font-family: "robotoregular";
  }

  .text-placement {
    justify-content: left;
  }
  p.bold-effect {
    font-weight: bold;
    font-size: $dooble-font-size;
    padding-top: $medium-marge;
    padding-bottom: $marge-base;
  }
  .images-resto {
    width: 100%;
    transition: transform 0.3s ease;
    height: $height_image;
    object-fit: cover;

    @include for-tablet-portrait-up {
      height: 0.5 * $height_image;
    }
    @include for-tablet-landscape-up {
      height: 1.5 * $height_image;
    }
    @include for-desktop-up {
      height: 2 * $height_image;
    }
    @include for-big-desktop-up {
      height: 2.5 * $height_image;
    }
  }
  .images-resto:hover {
    transform: scale(1.2);
  }
  div.esbroufe {
    height: 100%;
    overflow: hidden;
    width: 100%;
    border-top-left-radius: $basic-border-radius;
    border-top-right-radius: $basic-border-radius;
    position: relative;

    .ribbon-box {
      position: absolute;
      top: 10px;
      right: 25px;
      padding: 5px 10px;
      width: 100px;
      font-family: sans-serif;
      size: 11px;
      color: green;
      background-color: #99e2d0;
      text-align: center;
    }
  }
  .heart_container {
    display: flex;
    align-items: center;
    position: relative;
    right: 2rem;
    .far {
      position: absolute;
      font-size: 1.5rem;
    }
    .fas {
      z-index: 1;
      display: block;
      transform: scale(0);
      transition: all 1s;
      position: absolute;
      font-size: 1.5rem;
      background: -webkit-linear-gradient(#9356dc, #ff79da);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &:hover {
      .fas {
        transform: scale(1);
      }
    }
  }
  a {
    text-decoration: none;
  }
}
