/* Header général */
.header {
  background-color: white;

  .accueil {
    background-color: grey;

    .titre {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      background-color: white;
    }
  }

  .localisation {
    display: flex;
    align-items: center;

    .fa-map-marker-alt {
      font-size: 1.5rem;
      margin-right: 1rem;
      margin-left: 4.5rem;
    }
    .reservation {
      background-color: lightgray;

      p.bold-effect {
        font-weight: bold;
        font-size: 2rem;
      }
    }
  }
}
