html {
  font-size: 16px;

  body {
    /* Définitions générales */
    .color-text-white {
      color: $color-white;
      a {
        transition: $default-transition;
      }
    }

    @import "header";

    /* Contenu général */
    section {
      padding: 6rem 2rem;

      &.informations {
        padding: 0;
        background-color: black;
      }

      .login {
        background-color: red;
      }
    }
    main {
      .liste-resto {
        text-align: center;
        background-color: lightgray;
      }
      p.bold-effect {
        font-weight: bold;
        font-size: 2rem;
      }
      .images-resto {
        width: 10rem;
        height: 10rem;
        transition: transform 0.3s ease;
      }
      .images-resto:hover {
        transform: scale(1.2);
      }
    }
    /* Footer général */
    .footer {
      background-color: black;
      width: 20rem;
      font-size: 1.5rem;
      .informations {
        margin-left: 1.5rem;
      }
      .bold-effect {
        font-weight: bold;
        margin-bottom: 1rem;
      }
      .block-text-icone {
        display: flex;
        line-height: 2rem;

        i {
          color: $color-white;
          margin-right: 1rem;
        }
        .fa-utensils {
          margin-right: 1.5rem;
        }
      }
    }
  }
}
