html {
  font-size: 16px;

  body {
    /* Définitions générales */
    .color-text-white {
      color: $color-white;
      a {
        transition: $default-transition;
      }
    }

    @import "header";

    /* Contenu général */
    section {
      padding: 6rem $medium-marge;

      &.informations {
        padding: 0;
        background-color: black;
      }

      .login {
        background-color: red;
      }
    }
    main {
      .liste-resto {
        background-color: rgb(243, 240, 240);
        padding-bottom: $medium-marge;
        padding: $marge-base;
      }
      .la-palette {
        text-decoration: none;
      }
      .background-text {
        background-color: white;
        border-bottom-right-radius: $basic-border-radius;
        border-bottom-left-radius: $basic-border-radius;
        display: flex;
        justify-content: space-between;
        margin-bottom: $marge-base;
        align-items: center;
        padding: $marge-base;
        text-decoration: none;
      }
      .bold-effect2 {
        font-weight: bold;
      }

      .fa-heart:hover {
        background-color: linear-gradient(#ff79da, #9356dc);
      }
      .text-placement {
        justify-content: left;
      }
      p.bold-effect {
        font-weight: bold;
        font-size: $dooble-font-size;
        padding-top: $medium-marge;
        padding-bottom: $marge-base;
      }
      .images-resto {
        width: 100%;
        transition: transform 0.3s ease;
        height: 100%;
      }
      .images-resto:hover {
        transform: scale(1.2);
      }
      div.esbroufe {
        height: 140px;
        overflow: hidden;
        width: 100%;
        border-top-left-radius: $basic-border-radius;
        border-top-right-radius: $basic-border-radius;
      }

      i.my_heart:hover {
        cursor: pointer;
        font-weight: 900;
      }

      a {
        text-decoration: none;
        color: black;
      }
    }
    /* Footer général */
    .footer {
      background-color: black;
      width: 20rem;
      font-size: $intermediate-font-size;
      .informations {
        margin-left: $intermediate-marge;
        padding-top: $intermediate-marge;
        padding-bottom: $intermediate-marge;
      }
      .bold-effect {
        font-weight: bold;
        margin-bottom: $marge-base;
      }
      a {
        text-decoration: none;
      }
      .block-text-icone {
        display: flex;
        line-height: 2rem;

        i {
          color: $color-white;
          margin-right: $marge-base;
        }
        .fa-utensils {
          margin-right: $intermediate-marge;
        }
      }
    }
  }
}
