$color-white: #ffffff;

$default-transition: all 0.4s ease-out;
$marge-base: 1rem;
$intermediate-marge: 1.5rem;
$medium-marge: 2rem;
$basic-border-radius: 1rem;
$small-font-size: 1.2rem;
$intermediate-font-size: 1.5rem;
$dooble-font-size: 2rem;
$height_image: 145px;
