footer.footer {
  padding: 0;
  background-color: black;
  width: auto;
  font-size: $intermediate-font-size;
  @include for-tablet-portrait-up {
    width: auto;
  }
  @include for-tablet-landscape-up {
    width: auto;
  }
  @include for-desktop-up {
    width: auto;
  }
  @include for-big-desktop-up {
    width: auto;
  }
  section.informations {
    margin-left: $intermediate-marge;
    padding-top: $intermediate-marge;
    padding-bottom: $intermediate-marge;

    .espacement {
      margin-bottom: $marge-base;
      font-family: "shrikhandregular";
    }

    div.roboto-text {
      font-family: "robotoregular";
    }
  }

  .bold-effect {
    font-weight: bold;
    font-family: "robotoregular";
  }
  a {
    text-decoration: none;
  }
  .block-text-icone {
    display: flex;
    line-height: 2rem;

    i {
      color: $color-white;
      margin-right: $marge-base;
    }
    .fa-utensils {
      margin-right: $intermediate-marge;
    }
  }
}
body {
  .color-text-white {
    color: $color-white;
    a {
      transition: $default-transition;
    }
  }
}
