html {
  font-size: 16px;

  body {
    /* Définitions générales */
    .color-text-white {
      color: $color-white;
      a {
        transition: $default-transition;
      }
    }
    /* Contenu général */
    section {
      padding: 6rem $medium-marge;

      &.informations {
        padding: 0;
        background-color: black;
      }
    }
  }
}
